/* ================ main navbar styles =========== */

.main__navbar {
  background: #2A313B;
}

.mobile__menu i {
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.mobile__menu {
  display: none;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
}

.nav__item {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.nav__item:hover {
  color: #f9a826;
}

.search__box button {
  background-color: #3377C7; /* Warna latar belakang biru */
  color: white; /* Warna teks putih */
  border: none; /* Menghilangkan border */
  padding: 10px 40px; /* Ukuran tombol */
  border-radius: 100px; /* Sudut pembulatan */
  cursor: pointer; /* Ubah kursor saat mengarahkan ke tombol */
}

.search__box button:hover {
  background-color: darkblue; /* Warna latar belakang biru saat tombol dihover */
}

.nav__active {
  color: #f9a826;
}

.close-drawer {
  position: absolute;
  top: 15px;
  right: 15px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  display: none; 
}

.close-drawer:focus {
  outline: none; 
}

@media only screen and (max-width: 768px) {
  .header__top,
  .header__middle,
  .nav__right {
    display: none;
  }

  .mobile__menu {
    display: block;
  }

  .navigation {
    background: rgba(54, 62, 124, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
  }

  .menu {
    width: 250px;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
  }

  .menu a {
    color: #2A313B;
    font-weight: 600;
    font-size: 0.9rem;
  }

  .menu__active {
    display: block;
  }

  .close-drawer {
    display: block; 
  }
  
}
